<launch>
  <arg name="mpc_frequency" default="10"/>
  <arg name="pre_step" default="20"/>
  <arg name="step_time" default="0.2"/>
  <arg name="v_max" default="0.5"/>
  <arg name="gamma" default="0.35"/>
  <arg name="beta_bar_unknown" default="0.4"/>
  <arg name="robot_radius" default="0.4"/>
  <arg name="epsilon_max" default="0.05"/>
  <arg name="slack_weight" default="1000.0"/>
  <arg name="max_cbf_obstacles" default="6"/>
  <arg name="cbf_metric" default="seesm"/>
  <arg name="mpc_feasibility_guard_enabled" default="true"/>
  <arg name="side_preference_enabled" default="false"/>
  <arg name="side_weight" default="0.05"/>
  <arg name="side_epsilon_n" default="0.001"/>
  <arg name="side_horizon" default="20"/>
  <arg name="side_sign" default="1.0"/>
  <arg name="side_min_obstacle_speed" default="0.001"/>
  <arg name="side_activation_distance" default="3.0"/>
  <arg name="dynamic_tau_enabled" default="true"/>
  <arg name="dynamic_tau_mode" default="teacher_tca"/>
  <arg name="dynamic_tau_delta_tau" default="1e-6"/>
  <arg name="dynamic_tau_ke" default="0.30"/>
  <arg name="dynamic_tau_tmax" default="2.0"/>
  <arg name="dynamic_tau_min_speed" default="1e-6"/>
  <arg name="dynamic_tau_min_distance" default="1e-6"/>
  <arg name="dynamic_tau_max_tau" default="2.0"/>
  <arg name="v_min" default="0.3"/>
  <arg name="o_max" default="0.8"/>
  <arg name="odom_topic" default="/Odometry"/>
  <arg name="global_path_topic" default="/global_path"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="local_path_topic" default="/local_path"/>
  <arg name="obs_predict_topic" default="/globalFsm_by_adsm/obs_predict_pub"/>
  <arg name="obs_predict_ids_topic" default="/globalFsm_by_adsm/obs_predict_ids"/>
  <arg name="beta_applied_final_topic" default="/safety_margin/beta_applied_final"/>
  <arg name="planner_log_path" default=""/>
  <arg name="timing_log_path" default=""/>
  <arg name="mpc_margin_log_path" default=""/>
  <arg name="tau_stage_log_path" default=""/>

  <node name="mpc_secbf_node" pkg="mpc_secbf" type="mpc_secbf_node" output="screen">
    <param name="mpc/mpc_frequency" value="$(arg mpc_frequency)"/>
    <param name="mpc/pre_step" value="$(arg pre_step)"/>
    <param name="mpc/step_time" value="$(arg step_time)"/>
    <param name="mpc/v_max" value="$(arg v_max)"/>
    <param name="mpc/v_min" value="$(arg v_min)"/>
    <param name="mpc/o_max" value="$(arg o_max)"/>
    <param name="mpc/gamma" value="$(arg gamma)"/>
    <param name="mpc/beta_bar_unknown" value="$(arg beta_bar_unknown)"/>
    <param name="mpc/robot_radius" value="$(arg robot_radius)"/>
    <param name="mpc/epsilon_max" value="$(arg epsilon_max)"/>
    <param name="mpc/slack_weight" value="$(arg slack_weight)"/>
    <param name="mpc/max_cbf_obstacles" value="$(arg max_cbf_obstacles)"/>
    <param name="mpc/cbf_metric" value="$(arg cbf_metric)"/>
    <param name="mpc/feasibility_guard_enabled" value="$(arg mpc_feasibility_guard_enabled)"/>
    <param name="mpc/side_preference_enabled" value="$(arg side_preference_enabled)"/>
    <param name="mpc/side_weight" value="$(arg side_weight)"/>
    <param name="mpc/side_epsilon_n" value="$(arg side_epsilon_n)"/>
    <param name="mpc/side_horizon" value="$(arg side_horizon)"/>
    <param name="mpc/side_sign" value="$(arg side_sign)"/>
    <param name="mpc/side_min_obstacle_speed" value="$(arg side_min_obstacle_speed)"/>
    <param name="mpc/side_activation_distance" value="$(arg side_activation_distance)"/>
    <param name="dynamic_tau_enabled" value="$(arg dynamic_tau_enabled)" type="bool"/>
    <param name="dynamic_tau/mode" value="$(arg dynamic_tau_mode)"/>
    <param name="dynamic_tau/delta_tau" value="$(arg dynamic_tau_delta_tau)" type="double"/>
    <param name="dynamic_tau/Ke" value="$(arg dynamic_tau_ke)" type="double"/>
    <param name="dynamic_tau/Tmax" value="$(arg dynamic_tau_tmax)" type="double"/>
    <param name="dynamic_tau/min_speed" value="$(arg dynamic_tau_min_speed)" type="double"/>
    <param name="dynamic_tau/min_distance" value="$(arg dynamic_tau_min_distance)" type="double"/>
    <param name="dynamic_tau/max_tau" value="$(arg dynamic_tau_max_tau)" type="double"/>
    <param name="planner_log_path" value="$(arg planner_log_path)"/>
    <param name="timing_log_path" value="$(arg timing_log_path)"/>
    <param name="mpc_margin_log_path" value="$(arg mpc_margin_log_path)"/>
    <param name="tau_stage_log_path" value="$(arg tau_stage_log_path)"/>

    <remap from="/Odometry" to="$(arg odom_topic)"/>
    <remap from="/global_path" to="$(arg global_path_topic)"/>
    <remap from="/cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="/local_path" to="$(arg local_path_topic)"/>
    <remap from="/globalFsm_by_adsm/obs_predict_pub" to="$(arg obs_predict_topic)"/>
    <remap from="/globalFsm_by_adsm/obs_predict_ids" to="$(arg obs_predict_ids_topic)"/>
    <remap from="/safety_margin/beta_applied_final" to="$(arg beta_applied_final_topic)"/>
  </node>
</launch>
