<launch>
  <arg name="config_file" default="$(find semantic_guard)/config/semantic_safety_margin.yaml"/>
  <arg name="log_path" default=""/>
  <arg name="semantic_mode" default="full"/>
  <arg name="guard_enabled" default="true"/>
  <arg name="enable_rate_limit" default="true"/>
  <arg name="enable_available_projection" default="true"/>
  <arg name="enable_guard_fallback" default="true"/>
  <arg name="fixed_beta" default="0.4"/>

  <node pkg="semantic_guard" type="beta_guard_node" name="beta_guard_node" output="screen">
    <rosparam file="$(arg config_file)" subst_value="true" ns=""/>
    <param name="log_path" value="$(arg log_path)"/>
    <param name="semantic_mode" value="$(arg semantic_mode)"/>
    <param name="guard/enabled" value="$(arg guard_enabled)"/>
    <param name="guard/enable_rate_limit" value="$(arg enable_rate_limit)"/>
    <param name="guard/enable_available_projection" value="$(arg enable_available_projection)"/>
    <param name="guard/enable_guard_fallback" value="$(arg enable_guard_fallback)"/>
    <param name="fixed_beta" value="$(arg fixed_beta)"/>
  </node>
</launch>
