<launch>
  <arg name="config_file" default="$(find semantic_guard)/config/semantic_safety_margin.yaml"/>
  <arg name="log_path" default=""/>
  <arg name="semantic_mode" default="full"/>
  <arg name="guard_enabled" default="true"/>
  <arg name="enable_rate_limit" default="true"/>
  <arg name="enable_available_projection" default="true"/>
  <arg name="enable_guard_fallback" default="true"/>
  <arg name="fixed_beta" default="0.4"/>
  <arg name="dynamic_tau_enabled" default="true"/>
  <arg name="dynamic_tau_mode" default="teacher_tca"/>
  <arg name="dynamic_tau_delta_tau" default="1e-6"/>
  <arg name="dynamic_tau_ke" default="0.30"/>
  <arg name="dynamic_tau_tmax" default="2.0"/>
  <arg name="dynamic_tau_min_speed" default="1e-6"/>
  <arg name="dynamic_tau_min_distance" default="1e-6"/>
  <arg name="dynamic_tau_max_tau" default="2.0"/>

  <node pkg="semantic_guard" type="beta_guard_node" name="beta_guard_node" output="screen">
    <rosparam file="$(arg config_file)" subst_value="true" ns=""/>
    <param name="log_path" value="$(arg log_path)"/>
    <param name="semantic_mode" value="$(arg semantic_mode)"/>
    <param name="guard/enabled" value="$(arg guard_enabled)"/>
    <param name="guard/enable_rate_limit" value="$(arg enable_rate_limit)"/>
    <param name="guard/enable_available_projection" value="$(arg enable_available_projection)"/>
    <param name="guard/enable_guard_fallback" value="$(arg enable_guard_fallback)"/>
    <param name="fixed_beta" value="$(arg fixed_beta)"/>
    <param name="dynamic_tau_enabled" value="$(arg dynamic_tau_enabled)"/>
    <param name="dynamic_tau/mode" value="$(arg dynamic_tau_mode)"/>
    <param name="dynamic_tau/delta_tau" value="$(arg dynamic_tau_delta_tau)" type="double"/>
    <param name="dynamic_tau/Ke" value="$(arg dynamic_tau_ke)" type="double"/>
    <param name="dynamic_tau/Tmax" value="$(arg dynamic_tau_tmax)" type="double"/>
    <param name="dynamic_tau/min_speed" value="$(arg dynamic_tau_min_speed)" type="double"/>
    <param name="dynamic_tau/min_distance" value="$(arg dynamic_tau_min_distance)" type="double"/>
    <param name="dynamic_tau/max_tau" value="$(arg dynamic_tau_max_tau)" type="double"/>
  </node>
</launch>
