<launch>

    <arg name="robot_namespace" default="/"/>

    <!-- Load the surrounding environment into Gazebo -->
    <arg name="world_name" default="$(find scout_gazebo_sim)worlds/weston_robot_empty.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <include file="$(find scout_gazebo_sim)/launch/spawn_scout_v2.launch"></include>

    <node pkg="scout_gazebo_sim" type="scout_useodom.py" name="scout_odom_use" output="screen" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="worldLinkbasklink" args="0.0 0.0 0.1 0.0 0.0 0.0 world base_link 0.0010" /> -->
  
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find swarm_test)/config/exp_real_bag.rviz" /> -->
</launch>
