<launch>

  <param name="/use_sim_time" value="false"/>
  <arg name="runtime_ld_library_path" default="/catkin_ws/devel/lib:/opt/ros/noetic/lib:/opt/ros/noetic/lib/x86_64-linux-gnu:/opt/ros/noetic/share/euslisp/jskeus/eus//Linux64/lib:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu"/>

  <!-- 动态障碍物仿真环境 -->
  <include file="$(find dynamic_simulator)/launch/spawn_dynamic_obstacle.launch">
    <arg name="num_of_obs" value="7" />
    <arg name="runtime_ld_library_path" value="$(arg runtime_ld_library_path)" />
  </include>

  <!-- 发布目标点 -->
  <node pkg="swarm_test" type="start_trigger_node" name="start_trigger_node"/>

  <!-- 收集实验数据并输出结果 -->
  <node pkg="swarm_test" type="data_processor_node" name="data_processor_node" output="screen">
    <remap from="/trajs_predicted"  to="/obstacle_prediction_node/obstacle_prediction/trajs_predicted"/>
    <remap from="/trajs"    to="/Dyn_Obs_trajs"/>
    <!-- <remap from="/odometry" to="/robot1/odom"/> -->
    <param name="obs_manager/use_GroundTruth"  value="true"  type="bool"/>
    <param name="scenario" value="3" type="int" />
    <param name="controller" value="6" type="int" />
    <param name="data/record_sign" value="false"  type="bool"/>
    <param name="data/record_sign1" value="false"  type="bool"/>
    <param name="output_csv" value="$(find swarm_test)/output/data_processor_summary.csv" type="string"/>
    <param name="output_csv_dist" value="$(find swarm_test)/output/data_processor_distance.csv" type="string"/>
  </node>

  <!-- 全局路径数据处理器 -->
  <node pkg="swarm_test" type="global_path_data_processor.py" name="global_path_data_processor" output="screen" launch-prefix="env LD_LIBRARY_PATH=$(arg runtime_ld_library_path)">
    <param name="robot_radius" value="0.4" type="double"/>
    <param name="max_replans" value="100" type="int"/>
    <param name="num_obstacles" value="5" type="int"/>
    <param name="pre_step" value="20" type="int"/>
    <param name="time_step" value="0.2" type="double"/>
    <param name="output_dir" value="$(find swarm_test)/output" type="string"/>
  </node>

  <!-- rosbag录制 -->
  <!-- <node pkg="rosbag" type="record" name="bag_record" args="-a -o /home/jane/Ws_Jane_github/dynamic_avoidance/src/swarm_test/bag/0422/tmp.bag"/> -->
	<!-- <node pkg="rosbag" type="record" name="bag_record" args="/odometry /odom_traj -o /home/jane/Ws_Jane_github/dynamic_avoidance/src/swarm_test/bag/0422/tmp.bag"/> -->
	<!-- <node pkg="rosbag" type="record" name="bag_record" args="-o /home/pj/jane_ws-github/dynamic_avoidance/bag/0725/gazebo-s3/tmp.bag /odom_traj /robot1/odom"/> -->

</launch>
