<launch>

  <param name="/use_sim_time" value="false"/>
  <arg name="runtime_ld_library_path" default="/catkin_ws/devel/lib:/opt/ros/noetic/lib:/opt/ros/noetic/lib/x86_64-linux-gnu:/opt/ros/noetic/share/euslisp/jskeus/eus//Linux64/lib:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu"/>
  <arg name="scenario_index" default="4"/>
  <arg name="controller_index" default="6"/>
  <arg name="num_of_obs" default="7"/>
  <arg name="output_dir" default="$(find swarm_test)/output/secbf_runs/manual"/>
  <arg name="obstacle_params_file" default="$(find dynamic_simulator)/config/obstacles_param.yaml"/>
  <arg name="record_data" default="false"/>
  <arg name="obstacle_classes" default="[unknown]"/>
  <arg name="goal_x" default="21.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="use_reference_path" default="false"/>
  <arg name="reference_path_file" default=""/>
  <arg name="final_goal_x" default="$(arg goal_x)"/>
  <arg name="final_goal_y" default="$(arg goal_y)"/>

  <!-- 动态障碍物仿真环境 -->
  <include file="$(find dynamic_simulator)/launch/spawn_dynamic_obstacle.launch">
    <arg name="num_of_obs" value="$(arg num_of_obs)" />
    <arg name="obstacle_params_file" value="$(arg obstacle_params_file)" />
    <arg name="runtime_ld_library_path" value="$(arg runtime_ld_library_path)" />
  </include>

  <!-- 发布目标点 -->
  <node unless="$(arg use_reference_path)" pkg="swarm_test" type="start_trigger_node" name="start_trigger_node">
    <param name="goal_x" value="$(arg goal_x)" type="double"/>
    <param name="goal_y" value="$(arg goal_y)" type="double"/>
    <param name="goal_z" value="0.0" type="double"/>
  </node>
  <node if="$(arg use_reference_path)" pkg="swarm_test" type="reference_path_goal_publisher.py" name="reference_path_goal_publisher" output="screen">
    <param name="path_file" value="$(arg reference_path_file)" type="string"/>
  </node>

  <!-- 收集实验数据并输出结果 -->
  <node pkg="swarm_test" type="data_processor_node" name="data_processor_node" output="screen">
    <remap from="/trajs_predicted"  to="/obstacle_prediction_node/obstacle_prediction/trajs_predicted"/>
    <remap from="/trajs"    to="/Dyn_Obs_trajs"/>
    <remap from="/odometry" to="/robot1/odom"/>
    <param name="obs_manager/use_GroundTruth"  value="true"  type="bool"/>
    <param name="scenario" value="$(arg scenario_index)" type="int" />
    <param name="controller" value="$(arg controller_index)" type="int" />
    <param name="data/record_sign" value="$(arg record_data)"  type="bool"/>
    <param name="data/record_sign1" value="$(arg record_data)"  type="bool"/>
    <param name="use_fixed_final_goal" value="$(arg use_reference_path)" type="bool"/>
    <param name="final_goal_x" value="$(arg final_goal_x)" type="double"/>
    <param name="final_goal_y" value="$(arg final_goal_y)" type="double"/>
    <param name="output_csv" value="$(arg output_dir)/data_processor_summary.csv" type="string"/>
    <param name="output_csv_dist" value="$(arg output_dir)/data_processor_distance.csv" type="string"/>
  </node>

  <!-- Phase 5 paper-log contract logger -->
  <node pkg="swarm_test" type="phase5_csv_logger.py" name="phase5_csv_logger" output="screen">
    <param name="output_dir" value="$(arg output_dir)" type="string"/>
    <param name="pre_step" value="20" type="int"/>
    <param name="robot_radius" value="0.4" type="double"/>
    <param name="guard_tau" value="0.2" type="double"/>
    <param name="obstacle_classes" value="$(arg obstacle_classes)" type="string"/>
    <param name="odom_topic" value="/robot1/odom" type="string"/>
    <param name="cmd_vel_topic" value="/cmd_vel1" type="string"/>
    <param name="obs_predict_topic" value="/globalFsm_by_adsm/obs_predict_pub" type="string"/>
  </node>

  <!-- 全局路径数据处理器 -->
  <node pkg="swarm_test" type="global_path_data_processor.py" name="global_path_data_processor" output="screen" launch-prefix="env LD_LIBRARY_PATH=$(arg runtime_ld_library_path)">
    <param name="robot_radius" value="0.4" type="double"/>
    <param name="max_replans" value="100" type="int"/>
    <param name="num_obstacles" value="$(arg num_of_obs)" type="int"/>
    <param name="pre_step" value="20" type="int"/>
    <param name="time_step" value="0.2" type="double"/>
    <param name="output_dir" value="$(arg output_dir)" type="string"/>
  </node>

  <!-- rosbag录制 -->
  <!-- <node pkg="rosbag" type="record" name="bag_record" args="-a -o /home/jane/Ws_Jane_github/dynamic_avoidance/src/swarm_test/bag/0422/tmp.bag"/> -->
	<!-- <node pkg="rosbag" type="record" name="bag_record" args="/odometry /odom_traj -o /home/jane/Ws_Jane_github/dynamic_avoidance/src/swarm_test/bag/0422/tmp.bag"/> -->
	<!-- <node pkg="rosbag" type="record" name="bag_record" args="-o /home/pj/jane_ws-github/dynamic_avoidance/bag/0725/gazebo-s3/tmp.bag /odom_traj /robot1/odom"/> -->

</launch>
