<launch>
  <!-- Scout real-robot engineering chain. Motion remains dry-run by default. -->
  <param name="/use_sim_time" value="false"/>

  <arg name="start_base" default="true"/>
  <arg name="start_sensors" default="true"/>
  <arg name="start_perception" default="true"/>
  <arg name="start_planner" default="true"/>
  <arg name="show_rviz" default="true"/>

  <arg name="is_scout_mini" default="false"/>
  <arg name="port_name" default="can0"/>
  <arg name="track_id_start" default="4000"/>
  <arg name="obstacle_ids" default="[4000]"/>
  <arg name="obstacle_classes" default="[pedestrian]"/>

  <arg name="mpc_frequency" default="10"/>
  <arg name="pre_step" default="20"/>
  <arg name="step_time" default="0.2"/>
  <arg name="v_max" default="0.15"/>
  <arg name="reverse_v_max" default="0.15"/>
  <arg name="o_max" default="0.30"/>
  <arg name="cmd_vel_topic" default="/cmd_vel_secbf_dryrun"/>
  <arg name="typed_payload_timeout" default="0.50"/>

  <arg name="goal_x" default="5.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_yaw" default="0.0"/>
  <arg name="search_horizon" default="9.0"/>
  <arg name="map_size_x" default="30.0"/>
  <arg name="map_size_y" default="12.0"/>
  <arg name="map_size_z" default="3.0"/>
  <arg name="output_dir" default="$(find swarm_test)/output"/>

  <group if="$(arg start_base)">
    <include file="$(find scout_bringup)/launch/scout_robot_base.launch">
      <arg name="port_name" value="$(arg port_name)"/>
      <arg name="is_scout_mini" value="$(arg is_scout_mini)"/>
      <arg name="pub_tf" value="false"/>
    </include>
  </group>

  <group if="$(arg start_sensors)">
    <include file="$(find all_demo)/launch/all_demo_no_camera.launch">
      <arg name="fast_lio_config" value="$(find fast_lio)/config/velodyne.yaml"/>
    </include>
  </group>

  <group if="$(arg start_perception)">
    <include file="$(find swarm_test)/launch_exp/start_perception.launch">
      <arg name="use_sim_time" value="false"/>
      <arg name="show_rviz" value="false"/>
      <arg name="track_id_start" value="$(arg track_id_start)"/>
    </include>
  </group>

  <group if="$(arg start_planner)">
    <include file="$(find traj_planner)/launch/plan_global_fsm.launch">
      <arg name="odometry_topic" value="/Odometry"/>
      <arg name="cloud_topic" value="/fastLIO/non_ground_points"/>
      <arg name="_perception_GroundTruth" value="false"/>
      <arg name="pre_step_" value="$(arg pre_step)"/>
      <arg name="step_time_" value="$(arg step_time)"/>
      <arg name="used_DIS_" value="false"/>
      <arg name="used_adsm_" value="true"/>
      <arg name="used_static_path" value="false"/>
      <arg name="traj_horizon" value="$(arg search_horizon)"/>
      <arg name="map_size_x_" value="$(arg map_size_x)"/>
      <arg name="map_size_y_" value="$(arg map_size_y)"/>
      <arg name="map_size_z_" value="$(arg map_size_z)"/>
      <arg name="_use_UserGoal" value="false"/>
      <arg name="_goal_x" value="$(arg goal_x)"/>
      <arg name="_goal_y" value="$(arg goal_y)"/>
      <arg name="_goal_yaw" value="$(arg goal_yaw)"/>
      <arg name="global_seesm_enable" value="false"/>
      <arg name="global_seesm_log_path" value="$(arg output_dir)/scout_real_global_seesm_log.csv"/>
      <arg name="predicted_obstacle_timeout" value="$(arg typed_payload_timeout)"/>
      <arg name="clean_runtime_env" value="false"/>
    </include>

    <include file="$(find semantic_guard)/launch/beta_ground_truth.launch">
      <arg name="log_path" value="$(arg output_dir)/scout_real_margin_guard_log.csv"/>
      <arg name="pre_step" value="$(arg pre_step)"/>
      <arg name="step_time" value="$(arg step_time)"/>
      <arg name="scenario_id" value="scout_real_engineering"/>
      <arg name="baseline_id" value="Proposed_MPC_SECBF"/>
      <arg name="odom_topic" value="/Odometry"/>
      <arg name="obstacle_ids" value="$(arg obstacle_ids)"/>
      <arg name="obstacle_classes" value="$(arg obstacle_classes)"/>
    </include>

    <include file="$(find mpc_secbf)/launch/mpc_secbf.launch">
      <arg name="mpc_frequency" value="$(arg mpc_frequency)"/>
      <arg name="pre_step" value="$(arg pre_step)"/>
      <arg name="step_time" value="$(arg step_time)"/>
      <arg name="v_max" value="$(arg v_max)"/>
      <arg name="reverse_v_max" value="$(arg reverse_v_max)"/>
      <arg name="o_max" value="$(arg o_max)"/>
      <arg name="graph_cache_enabled" value="true"/>
      <arg name="solver_max_cpu_time_ms" value="120.0"/>
      <arg name="guard_time_budget_ms" value="200.0"/>
      <arg name="guard_solver_max_cpu_time_ms" value="70.0"/>
      <arg name="typed_payload_timeout" value="$(arg typed_payload_timeout)"/>
      <arg name="odom_topic" value="/Odometry"/>
      <arg name="global_path_topic" value="/global_path"/>
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
      <arg name="obstacle_snapshot_topic" value="/globalFsm_by_adsm/teacher_obstacle_snapshot"/>
      <arg name="beta_pre_guard_topic" value="/safety_margin/beta_pre_guard"/>
      <arg name="planner_log_path" value="$(arg output_dir)/scout_real_planner_log.csv"/>
      <arg name="timing_log_path" value="$(arg output_dir)/scout_real_timing_log.csv"/>
      <arg name="mpc_margin_log_path" value="$(arg output_dir)/scout_real_mpc_margin_log.csv"/>
      <arg name="tau_stage_log_path" value="$(arg output_dir)/scout_real_tau_stage_log.csv"/>
      <arg name="guard_attempt_log_path" value="$(arg output_dir)/scout_real_guard_attempt_log.csv"/>
      <arg name="safety_recurrence_log_path" value="$(arg output_dir)/scout_real_safety_recurrence_log.csv"/>
    </include>
  </group>

  <node if="$(arg show_rviz)" pkg="rviz" type="rviz" name="scout_secbf_real_rviz"
        output="log" args="-d $(find swarm_test)/config/secbf_real.rviz"/>
</launch>
